<launch>
	<node pkg="ieee2017_command" type="communication_manager.py" name="communication_manager" output="screen">
		<param name="serial_port" value="/dev/ttyACM0"/>
		<param name="baud_rate" value="9600"/>
		<param name="command_size" value="6"/>
	</node>

	# Launch subsystems in other packages
	<include file="$(find ieee2017_vision)/launch/vision.launch"/>
</launch>
